<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo URL Processing</title>
</head>
<body>
    <h1>Enter a URL:</h1>
    <input type="text" id="demo-url" placeholder="https://example.com">
    <button id="submit-btn">Submit</button>
    <br>
    <div id="response"></div>
    <br>
    <div id="selectors">
        <br>
    </div>
    <div id="responseSelector"></div>

    <script>
        const submitBtn = document.getElementById('submit-btn');
        const demoUrlInput = document.getElementById('demo-url');
        const responseDiv = document.getElementById('response');
        const selectors = document.getElementById('selectors');
        const responseSelector = document.getElementById('responseSelector');

        submitBtn.addEventListener('click', async () => {
            const url = demoUrlInput.value;
            try {
                const response = await fetch('/process-url', {
                    method: 'POST',
                    body: JSON.stringify({ url }),
                    headers: { 'Content-Type': 'application/json' },
                });
                const data = await response.json();
                if (data.error) {
                    responseDiv.innerHTML = `<p>Error: ${data.error}</p>`;
                } else {
                    responseDiv.innerHTML = `<p>Available Audio Tracks:</p>`;
                    selectors.innerHTML = data.audio_tracks.map((track, index) =>
                        `<label><input type="radio" name="audioTrack" value="${track.id}">${track.description}</label><br>`
                    ).join('');
                    const processSelectorsBtn = document.createElement('button');
                    processSelectorsBtn.innerText = 'Process Selected Audio Track';
                    processSelectorsBtn.addEventListener('click', async () => {
                        const selectedTrack = document.querySelector('input[name="audioTrack"]:checked').value;
                        const processResponse = await fetch('/process-selectors', {
                            method: 'POST',
                            body: JSON.stringify({
                                selected_format_id: selectedTrack,
                                youtube_url: data.youtube_url
                            }),
                            headers: { 'Content-Type': 'application/json' },
                        });
                        const dynamicHtml = await processResponse.text();
                        responseSelector.innerHTML = dynamicHtml;
                    });
                    selectors.appendChild(processSelectorsBtn);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
